@font-face {
  font-family: "PT Sans";
  src: url(../fonts/ptsans-400.woff2) format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  src: url(../fonts/ptsans-700.woff2) format("woff2");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

html {
  height: 100%;
}

body {
  background-color: rgba(242, 242, 242, 1);
  margin: 0;
}

.body-container {
  font-family: "PT Sans", sans-serif;
  font-weight: 400;
  font-style: normal;
  color: black;
  background-color: #ffffff;
  box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.2);
  display: flex;
  flex-direction: column;
  min-height: 100%;
  width: 1200px;
  margin: 0 auto;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
/*общая навигация*/

.page-header {
  display: flex;
  box-sizing: border-box;
  width: 100%;
  position: relative;
}

.logo-nav {
  width: 140px;
  height: 70px;
  margin: 0 28px -6px 70px;
}

.navigation {
  display: flex;
  width: 100%;
}

.navigation a {
  display: block;
  box-sizing: border-box;
}

.navigation-list {
  display: flex;
  flex-wrap: wrap;
  list-style-type: none;
  width: 100%;
  margin: 0;
  padding: 0;
}

.navigation-link {
  text-decoration: none;
  color: black;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  padding: 20px 16px;
}

.navigation-item {
  text-decoration: none;
}

.navigation-item:hover {
  border-bottom: 2px solid rgba(117, 98, 87, 1);
}

.navigation-user {
  display: flex;
  box-sizing: border-box;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.navigation-item-user,
.navigation-item-user-like {
  display: block;
  box-sizing: border-box;
  width: 44px;
}

.navigation-src,
.navigation-like {
  background-repeat: no-repeat;
  width: 18px;
  height: 18px;
  position: relative;
}

.navigation-src {
  background-image: url(../images/src-icon.svg);
  top: 23px;
  left: 13px;
}

.navigation-like {
  background-image: url(../images/heart-icon.svg);
  top: 13px;
  left: 13px;
}

.navigation-score {
  display: block;
  box-sizing: border-box;
  background-color: #7DB54F;
  border-radius: 50%;
  width: 20px;
  font-size: 10px;
  line-height: 10px;
  color: #ffffff;
  text-align: center;
  padding: 5px 4px;
  margin-bottom: -10px;
  position: relative;
  top: 11px;
  left: 20px;
  z-index: 1;
}

.navigation-item-user-join {
  width: 160px;
  padding: 14px 0;
  margin: 0 70px 0 20px;
}

.navigation-join {
  background-color: #756157;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  text-decoration: none;
  text-align: center;
  color: #ffffff;
  width: 160px;
  border-radius: 4px;
  padding: 8px 0;
}

/*общая навигация закончилась*/

/*index.html*/

.main-container {
  flex-grow: 1;
}
.main-img {
  background-color: #82B3D3;
  background-image: url(../images/index-background.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  height: 485px;
}

.slogan {
  display: block;
  width: 458px;
  height: 352px;
  margin: 0;
  padding: 51px 371px 25px;
}

.book-style {
  background-image: url(../images/books-style-vector.svg);
  width: 100%;
  min-height: 57px;
}

.main-title {
  box-sizing: border-box;
}

.main-title h2 {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
  margin: 0;
  padding: 0;
  padding-bottom: 20px;
}
.main-title p {
  font-weight: 400;
  font-size: 22px;
  line-height: 26px;
  margin: 0;
  padding: 0;
}

.main-title.town {
  padding: 69px 0;
  text-align: center;
}

.advantages,
.advantages-content {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  box-sizing: border-box;
  justify-content: flex-start;
}

.advantages-img {
  display: block;
  box-sizing: border-box;
  background-size: cover;
  width: 800px;
  height: 385px;
}

.advantages-over {
  width: 400px;
  box-sizing: border-box;
  padding: 112.5px 85px;
}

.advantages-over h3 {
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  text-transform: uppercase;
  text-align: center;
  margin-top: 0;
}

.advantages-over p {
  font-size: 18px;
  line-height: 21px;
  text-align: center;
}

.advantages-1,
.advantages-5 {
  background-color: #82B3D3;
  color: #ffffff;
}

.advantages-2,
.advantages-4 {
  background: rgba(131, 179, 211, 0.12);
}

.advantages-3 {
  background: rgba(131, 179, 211, 0.2);
}


.main-title.welcome {
  min-height: 246px;
  padding-top: 64px;
  padding-bottom: 64px;
  text-align: center;
}

.service-list {
  display: flex;
  box-sizing: border-box;
  flex-wrap: wrap;
  justify-content: flex-start;
  width: 100%;
}

.service {
  box-sizing: border-box;
  width: 400px;
  padding: 80px 85px;
}

.service h3 {
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  text-transform: uppercase;
  text-align: center;
  margin: 0;
  margin-bottom: 30px;
}

.service p {
  font-size: 18px;
  line-height: 21px;
  text-align: center;
  margin: 0;
}

.service svg {
  background-repeat: no-repeat;
  background-position: center;
  width: 72px;
  height: 72px;
  padding: 0 77px;
  margin-bottom: 28px;
}

.service-home {
  background-image: url(../images/vector-home.svg);
}

.service-food {
  background-image: url(../images/vector-food.svg);
}

.service-presents {
  background-image: url(../images/vector-presents.svg);
}

.service-1,
.service-3 {
  background-color: rgba(131, 179, 211, 0.12);
}


.main-title.choice {
  padding: 96px 0;
  text-align: center;
}

.search-hotel {
  box-sizing: border-box;
  display: block;
  width: 376px;
  height: 52px;
  border-radius: 4px;
  background-color: #756157;
  font-weight: 700;
  font-size: 20px;
  line-height: 36px;
  text-transform: uppercase;
  text-decoration: none;
  text-align: center;
  color: #ffffff;
  margin: 0 auto;
  margin-top: 54px;
  padding: 8px 0;
}

.subscription {
  width: 100%;
  box-sizing: border-box;
  color: #ffffff;
  background-color: #82B3D3;
  background-size: cover;
  background-image: url(../images/subscribe.png);
  background-repeat: no-repeat;
  padding-top: 96px;
  padding-bottom: 104px;
}

.main-title.post {
  margin: 0 auto;
  padding: 0;
  text-align: center;
  margin-bottom: 54px;
}

.subscription-join {
  display: flex;
  box-sizing: border-box;
  width: 684px;
  height: 52px;
  margin: 0 auto;
}

.email {
  box-sizing: border-box;
  width: 452px;
  height: 52px;
  padding: 0;
  padding-left: 20px;
  border: 0;
  font-family: inherit;
  font-size: 18px;
  line-height: 14px;
  border-radius: 4px 0 0 4px;
}

.button-sub {
  background-color: #82B3D3;
  height: 52px;
  width: 232px;
  border: 0;
  margin: 0;
  padding: 0;
  border-radius: 0 4px 4px 0;
  font-weight: 700;
  font-size: 20px;
  line-height: 36px;
  text-transform: uppercase;
  text-align: center;
  color: #ffffff;
}

.subscription-catalog {
  width: 100%;
  box-sizing: border-box;
  padding-top: 96px;
  padding-bottom: 104px;
}

.email.second {
  background-color: rgba(242, 242, 242, 1);
}

/* начался общий футер*/

.sticky-footer {
  width: 100%;
}

.footer-wrapper {
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 1060px;
  margin: 0 auto;
  margin-top: 40px;
  margin-bottom: 30px;
}

.footer-wrapper a {
  display: block;
  box-sizing: border-box;
  position: relative;
}

.network {
  box-sizing: border-box;
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  width: 142px;
}

.vkontakte {
  background-image: url(../images/vk-icon.svg);
  width: 24px;
  height: 14px;
  margin: 16px 11px;
}

.telegram {
  background-image: url(../images/tg-icon.svg);
  width: 18px;
  height: 15px;
  margin: 15px;
}

.youtube {
  background-image: url(../images/yt-icon.svg);
  width: 22px;
  height: 17px;
  margin: 15px 12px;
}

.contacts {
  box-sizing: border-box;
  padding-top: 5px;
}

.phone {
  margin: 0 auto;
  font-size: 40px;
  line-height: 40px;
  text-align: center;
  text-decoration: none;
  color: inherit;
}

.website {
  width: 120px;
  padding: 8.5px 0;
}

.logo-htmlacademy {
  width: 115px;
  height: 33px;
}

/*общий футер закончился*/

/*catalog.html*/

.main-inner {
  background-color: #82B3D3;
  background-image: url("../images/filter.png");
  background-size: cover;
  background-repeat: no-repeat;
  color: #ffffff;
  width: 100%;
  height: 412px;
  box-sizing: border-box;
  padding: 35px 70px 0;
  margin-bottom: 50px;
}

.inner-header-title {
  color: #ffffff;
  font-size: 60px;
  line-height: 78px;
  margin: 0;
  padding: 0;
  margin-bottom: 8px;
}

.breadcrumbs {
  display: flex;
  justify-content: flex-start;
  width: 100%;
  padding: 0;
  margin: 0;
  margin-bottom: 40px;
}

.breadcrumbs-icon-home {
  background-image: url(../images/icon-home-catalog.svg);
  background-repeat: no-repeat;
  background-position: center;
  display: block;
  width: 12px;
  height: 12px;
  margin: 4px 10px 4px 1px;
}

.breadcrumbs-icon {
  background-image: url(../images/icon-home-go.svg);
  background-repeat: no-repeat;
  background-position: center;
  display: block;
  width: 7px;
  height: 7px;
  margin: 7px 10px 7px 0;
}

.breadcrumbs-link {
  display: block;
  color: #ffffff;
  text-decoration: none;
  font-size: 16px;
  line-height: 21px;
}

.catalog-hotel-choice {
  box-sizing: border-box;
  width: 1060px;
  margin: 0;
  padding: 0;
}

.hotel-filter{
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}

.filter-place {
  box-sizing: border-box;
  width: 151px;
  margin: 0;
  margin-right: 70px;
  padding: 0;
  border: none;
}

.filter-place-title {
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  padding: 0;
  margin: 0;
  margin-bottom: 32px;
}

.control-input {
  font-size: 18px;
  line-height: 23px;
}

.filter-place-list {
  list-style-type: none;
  padding: 0;
  margin: 0;
  margin-left: auto;
}

.filter-place-item {
  font-size: 18px;
  line-height: 23px;
  margin-bottom: 16px;
}

.control-input {
  color: #ffffff;
  width: 20px;
  height: 20px;
  border-radius: 4px;
  margin-right: 16px;
}

.filter-place-item:last-child {
  margin: 0;
}

.filter-housing {
  box-sizing: border-box;
  width: 150px;
  margin: 0;
  margin-right: 138px;
  padding: 0;
  border: none;
}

.filter-hotel-price {
  box-sizing: border-box;
  width: 288px;
  border: none;
  padding: 0;
  margin: 0;
  margin-right: 70px;
}

.price-field {
  display: flex;
  justify-content: space-between;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.input-price {
  box-sizing: border-box;
  width: 141px;
  height: 48px;
  border: none;
  padding: 12px 20px;
  background: rgba(242, 242, 242, 1);
  font-family: inherit;
  font-weight: 700;
  font-size: 18px;
  line-height: 14px;
}

.input-price.min {
  border-radius: 4px 0 0 4px;
}

.input-price.max {
  border-radius: 0 4px 4px 0;
}

.range-slider {
  box-sizing: border-box;
  height: 20px;
  margin-top: 36px;
}

.hotel-price-buttons {
  box-sizing: border-box;
  padding-top: 56px;
}

.button {
  display: block;
  background-color: #82B3D3;
  width: 191px;
  height: 36px;
  color: #ffffff;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  text-align: center;
  margin: 0;
  border: 0;
  border-radius: 4px;
  padding: 8px 50px;
}

.button.bt-go {
  margin-bottom: 32px;
}

.button.bt-fale {
  background-color: transparent;
}

.sorting {
  display: flex;
  box-sizing: border-box;
  width: 1060px;
  margin: 0 70px 47px;
}

.sorting-total {
  width: 338px;
  height: 36px;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
  margin: 0;
  margin-right: 200px;
  padding: 6px 0;
}

.select-control {
  box-sizing: border-box;
  width: 292px;
  font-family: inherit;
  font-size: 18px;
  line-height: 21px;
  color: rgba(51, 51, 51, 1);
  border: 2px solid rgba(229, 229, 229, 1);
  padding-left: 20px;
  margin-right: 68px;
}

.wrapper-views {
  display: flex;
  justify-content: space-between;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  width: 160px;
}

.view-icon {
  box-sizing: border-box;
  width: 48px;
  padding: 0 16px;
  border: 2px solid rgba(229, 229, 229, 1);
  border-radius: 4px;
}

.view-icon.select {
  border: 2px solid rgba(0, 0, 0, 1);
}

.catalog-hotel-list {
  width: 1060px;
  margin: 0 70px 40px;
  display: grid;
  grid-template-columns: 340px 340px 340px;
  gap: 20px;
}

.hotel-card {
  box-sizing: border-box;
  border: 1px solid rgba(230, 230, 230, 1);
  border-radius: 4px;
  padding: 20px;
}

.hotel-card a {
  text-decoration: none;
}

.card-link {
  display: block;
  box-sizing: border-box;
  width: 300px;
}

.card-image {
  background-color: rgba(130, 179, 211, 1);
  background-size: cover;
  background-repeat: no-repeat;
  width: 300px;
  height: 212px;
  margin-bottom: 16px;
}

.card-title {
  color: black;
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  margin: 0;
  margin-bottom: 16px;
}

.hotel-name-wrapper {
  box-sizing: border-box;
  width: 300px;
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: space-between;
}

.hotel-name {
  font-size: 18px;
  line-height: 21px;
  color: rgba(51, 51, 51, 1);
  width: 140px;
  padding: 0;
  margin: 0;
  margin-bottom: 16px;
}

.hotel-price.hotel-name {
  text-align: right;
}

.hotel-button-for,
.hotel-button-save {
  width: 140px;
  border-radius: 4px;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  color: #ffffff;
  text-align: center;
  padding: 8px 0;
  margin-bottom: 16px;
}

.hotel-button-for {
  background-color: rgba(117, 97, 87, 1);
}

.hotel-button-save {
  background-color: rgba(130, 179, 211, 1);
}

.saving-bt {
  background-color: rgba(125, 181, 79, 1);
}

.rating-stars {
  background-color: rgba(242, 242, 242, 1);
  width: 140px;
  border-radius: 4px;
  padding: 10px 0;
}

.hotel-rating {
  width: 140px;
  border-radius: 4px;
  background-color: rgba(242, 242, 242, 1);
  padding: 8.5px 0;
}

.rating {
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  color: rgba(51, 51, 51, 1);
  text-align: center;
  margin: 0;
}

.border-line {
  width: 1060px;
  height: 1px;
  color: rgba(230, 230, 230, 1);
  margin: 0 70px 40px;
  border: none;
}

.pagination-wrapper {
  box-sizing: border-box;
  width: 1060px;
  padding: 0;
  margin: 0 70px 60px;
}

.pagination {
  display: flex;
  box-sizing: border-box;
  flex-wrap: wrap;
  justify-content: flex-start;
  width: 100%;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.pagination-item {
  box-sizing: border-box;
  background: rgba(130, 179, 211, 1);
  width: 60px;
  height: 60px;
  border-radius: 4px;
  margin: 0;
  padding: 0;
}

.pagination-item:not(:last-child) {
  margin-right: 8px;
}

.pagination-link {
  display: block;
  color: #ffffff;
  font-weight: 700;
  font-size: 20px;
  line-height: 36px;
  text-decoration: none;
  text-align: center;
  padding: 12px 20px;
}

.pagination-current {
  background: rgba(242, 242, 242, 1);
  color: black;
}

.pagination-ellipsis {
  background-color: #ffffff;
  color: black;
  font-weight: 400;
  font-size: 22px;
  line-height: 26px;
  padding: 17px 21px;
}



/* общий футер*/
