@font-face {
  font-family: "PT Sans";
  src: url(../fonts/ptsans-400.woff2) format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  src: url(../fonts/ptsans-700.woff2) format("woff2");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

body {
  font-family: "PT Sans", sans-serif;
  font-weight: 400;
  font-style: normal;
  color: black;
  background-color: #ffffff;
}

.visually-hidden {
  visibility: hidden;
}

.navigation-list {
  list-style-type: none;
}

.navigation-link {
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  text-align: center;
  color: inherit;
  text-decoration: none;
}

.navigation-user {
  list-style-type: none;

}

.navigation-join {
  background-color: #756157;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  text-decoration: none;
  text-align: center;
  color: #ffffff;
  border-radius: 4px;
}

.main-img {
  background-color: #82B3D3;
  background-image: url(../images/index-background.jpg);
  background-size: 100% auto;
  background-repeat: no-repeat;
}

.main-title h2 {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
  text-align: center;
}
.main-title p {
  font-weight: 400;
  font-size: 22px;
  line-height: 26px;
  text-align: center;
}

.advantages {
  text-align: center;
}

.advantages h3 {
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  text-transform: uppercase;
}

.advantages p {
  font-size: 18px;
  line-height: 21px;
}

.advantages-1 {
  background-color: #82B3D3;
}

.advantages-2 {
  background: rgba(131, 179, 211, 0.12);
}

.advantages-3 {
  background: rgba(131, 179, 211, 0.2);
}

.advantages-4 {
  background: rgba(131, 179, 211, 0.12);
}

.advantages-5 {
  background-color: #82B3D3;
}

.service-list h3 {
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  text-transform: uppercase;
}

.service-list p {
  font-size: 18px;
  line-height: 21px;
}

.service-list {
  background: rgba(131, 179, 211, 0.12);
  text-decoration: none;
  list-style-type: none;
  text-align: center;
}

.service-2 {
  background-color: #ffffff;
}

.search-hotel {
  background-color: #756157;
  font-weight: 700;
  font-size: 20px;
  line-height: 36px;
  text-transform: uppercase;
  text-decoration: none;
  text-align: center;
  color: #ffffff;
  border-radius: 4px;
}

.subscription {
  color: #ffffff;
  background-color: #82B3D3;
  background-size: 100% auto;
  background-image: url(../images/subscribe.png);
  background-repeat: no-repeat;
  display: block;
}

.button {
  background-color: #82B3D3;
}

.newsletter-button {
  font-weight: 700;
  font-size: 20px;
  line-height: 36px;
  text-transform: uppercase;
  text-align: center;
  color: #ffffff;
}

.vkontakte {
  background-image: url(../images/vk-icon.svg);
}

.telegram {
  background-image: url(../images/tg-icon.svg);
}

.youtube {
  background-image: url(../images/vk-icon.svg);
}

.phone {
  font-size: 40px;
  line-height: 40px;
  text-align: center;
  text-decoration: none;
  color: black;
}

.logo-htmlacademy {
  background-image: url(../images/HTML\ Academy.png);
}
