@font-face {
  font-family: "PT Sans";
  src: url(../fonts/ptsans-400.woff2) format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  src: url(../fonts/ptsans-700.woff2) format("woff2");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

html {
  height: 100%;
}

body {
  background-color: rgba(242, 242, 242, 1);
  margin: 0;
}

.body-container {
  font-family: "PT Sans", sans-serif;
  font-weight: 400;
  font-style: normal;
  color: black;
  background-color: #ffffff;
  box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.2);
  display: flex;
  flex-direction: column;
  min-height: 100%;
  width: 1200px;
  margin: 0 auto;
}

.visually-hidden {
  visibility: hidden;
  margin: 0;
  padding: 0;
}
/*общая навигация*/

.page-header {
  display: flex;
  box-sizing: border-box;
  width: 100%;
  height: 64px; /* после з индекс переделать*/
}

.logo-nav {
  width: 140px;
  height: 70px;
  margin: 0 28px -6px 70px; /* после з индекс переделать*/
}

.navigation {
  display: flex;
  width: 100%;
}

.navigation a {
  display: block;
}

.navigation-list {
  display: flex;
  flex-wrap: wrap;
  list-style-type: none;
  width: 100%;
  margin: 0;
  padding: 0;
}

.navigation-link {
  text-decoration: none;
  color: black;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  padding: 20px 16px;
}

.navigation-user {
  display: flex;
  box-sizing: border-box;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.navigation-user img {
  width: 20px;
  height: 20px;
}

.navigation-item-user {
  display: block;
  box-sizing: border-box;
  width: 44px;
  padding: 23px 13px;
}

.navigation-item-user-like {
  display: block;
  box-sizing: border-box;
  width: 44px;
  margin-right: 20px;
  padding-bottom: 22px;
}

.navigation-score {
  display: block;
  box-sizing: border-box;
  background-color: #7DB54F;
  border-radius: 50%;
  width: 20px;
  font-size: 10px;
  line-height: 10px;
  color: #ffffff;
  text-align: center;
  padding: 5px 4px;
  margin-left: 20px;
  margin-top: 11px;
  margin-bottom: -10px;
}

.navigation-like {
  width: 20px;
  margin: 0 auto;
}

.navigation-item-user-join {
  width: 160px;
  padding: 14px 0;
  margin: 0;
  margin-right: 70px;
}

.navigation-join {
  box-sizing: border-box;
  background-color: #756157;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  text-decoration: none;
  text-align: center;
  color: #ffffff;
  width: 160px;
  border-radius: 4px;
  padding: 8px 0;
}

/*общая навигация закончилась*/

/*index.html*/

.main-container {
  flex-grow: 1;
}
.main-img {
  background-color: #82B3D3;
  background-image: url(../images/index-background.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  height: 485px;
  margin: 0;
  padding: 0;
}

.slogan {
  display: block;
  width: 458px;
  height: 352px;
  margin: 0 auto;
  padding: 0;
  padding-top: 52px;
}

.book-style {
  display: block;
  width: 100%;
  height: 57px;
  margin: 0 auto;
}

.main-title {
  box-sizing: border-box;
}

.main-title h2 {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
  margin: 0;
  padding: 0;
  padding-bottom: 20px;
}
.main-title p {
  font-weight: 400;
  font-size: 22px;
  line-height: 26px;
  margin: 0;
  padding: 0;
}

.main-title.town {
  padding: 69px 0;
  text-align: center;
}

.advantages {
  width: 100%;
}

.advantages-content {
  display: flex;
  box-sizing: border-box;
  flex-wrap: wrap;
  justify-content: flex-start;
  width: 100%;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.advantages-content h3 {
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  text-transform: uppercase;
  text-align: center;
}

.advantages-content p {
  font-size: 18px;
  line-height: 21px;
  text-align: center;
}

.advantages-list {
  box-sizing: border-box;
  margin: 0 auto;
  width: 400px;
}

.advantages-over {
  box-sizing: border-box;
  width: 230px;
  margin: 0 auto;
}

.advantages-img {
  display: block;
  background-color: #82B3D3;
  background-size: cover;
  width: 800px;
  height: 385px;
}

.advantages-1 {
  background-color: #82B3D3;
  color: #ffffff;
  padding: 85px 0;
}

.advantages-2 {
  background: rgba(131, 179, 211, 0.12);
  padding: 112.5px 0;
}

.advantages-3 {
  background: rgba(131, 179, 211, 0.2);
  padding: 112.5px 0;
}

.advantages-4 {
  background: rgba(131, 179, 211, 0.12);
  padding: 112.5px 0;
}

.advantages-5 {
  color: #ffffff;
  background-color: #82B3D3;
  padding: 85px 0;
}

.main-title.welcome {
  min-height: 246px;
  padding-top: 64px;
  padding-bottom: 64px;
  text-align: center;
}

.service-list {
  display: flex;
  box-sizing: border-box;
  flex-wrap: wrap;
  justify-content: flex-start;
  width: 100%;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.service-info h3 {
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  text-transform: uppercase;
  text-align: center;
  margin: 0;
  margin-bottom: 30px;
}

.service-info p {
  font-size: 18px;
  line-height: 21px;
  text-align: center;
  margin: 0;
}

.service-list li {
  width: 400px;
}

.service-info {
  box-sizing: border-box;
  width: 230px;
  margin: 0 auto;
  padding: 81px 0;
}

.service-info img {
  display: block;
  width: 75px;
  height: 72px;
  margin: 0 auto;
  margin-bottom: 30px;
}

.service-1, .service-3 {
  background-color: rgba(131, 179, 211, 0.12);
}

.main-title.choice {
  padding: 96px 0;
  text-align: center;
}

.search-hotel {
  box-sizing: border-box;
  display: block;
  width: 376px;
  height: 52px;
  border-radius: 4px;
  background-color: #756157;
  font-weight: 700;
  font-size: 20px;
  line-height: 36px;
  text-transform: uppercase;
  text-decoration: none;
  text-align: center;
  color: #ffffff;
  margin: 0 auto;
  margin-top: 54px;
  padding: 8px 0;
}

.subscription {
  width: 100%;
  box-sizing: border-box;
  color: #ffffff;
  background-color: #82B3D3;
  background-size: cover;
  background-image: url(../images/subscribe.png);
  background-repeat: no-repeat;
  padding-top: 96px;
  padding-bottom: 104px;
}

.main-title.post {
  margin: 0 auto;
  padding: 0;
  text-align: center;
  margin-bottom: 54px;
}

.subscription-join {
  display: flex;
  box-sizing: border-box;
  width: 684px;
  height: 52px;
  margin: 0 auto;
}

.email {
  box-sizing: border-box;
  width: 452px;
  height: 52px;
  padding: 0;
  padding-left: 20px;
  border: 0;
  font-family: inherit;
  font-size: 18px;
  line-height: 14px;
  border-radius: 4px 0 0 4px;
}

.button-sub {
  background-color: #82B3D3;
  height: 52px;
  width: 232px;
  border: 0;
  margin: 0;
  padding: 0;
  border-radius: 0 4px 4px 0;
  font-weight: 700;
  font-size: 20px;
  line-height: 36px;
  text-transform: uppercase;
  text-align: center;
  color: #ffffff;
}

.subscription-catalog {
  width: 100%;
  box-sizing: border-box;
  padding-top: 96px;
  padding-bottom: 104px;
}

.email.second {
  background-color: rgba(242, 242, 242, 1);
}

/* начался общий футер*/

.sticky-footer {
  width: 100%;
}

.footer-wrapper {
  box-sizing: border-box;
  display: flex;
  width: 1060px;
  min-height: 50px;
  margin: 0 auto;
  margin-top: 40px;
  margin-bottom: 30px;
  padding: 0;
}

.contacts {
  display: flex;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.network-link {
  box-sizing: border-box;
  width: 47px;
  padding: 12px 0;
}

.network-link a {
  display: block;
  background-repeat: no-repeat;
  background-size: cover;
  margin: 0 auto;
}

.vkontakte {
  background-image: url(../images/vk-icon.svg);
  width: 24px;
  height: 14px;
}

.telegram {
  background-image: url(../images/tg-icon.svg);
  width: 18px;
  height: 15px;
}

.youtube {
  background-image: url(../images/yt-icon.svg);
  width: 22px;
  height: 17px;
}

.phone {
  display: block;
  margin: 0 auto;
  font-size: 40px;
  line-height: 40px;
  text-align: center;
  text-decoration: none;
  color: inherit;
}

.logo-htmlacademy {
  display: block;
  padding: 8px 70px 8px 0;
  width: 115px;
  height: 33px;
}

/*общий футер закончился*/

/*catalog.html*/

.main-inner {
  background-color: #82B3D3;
  background-image: url("../images/filter.png");
  background-size: cover;
  background-repeat: no-repeat;
  color: #ffffff;
  width: 100%;
  height: 412px;
  box-sizing: border-box;
  padding: 35px 70px 70px;
  margin-bottom: 50px;
}

.inner-header-title {
  color: #ffffff;
  font-size: 60px;
  line-height: 78px;
  margin: 0;
  padding: 0;
  margin-bottom: 8px;
}

.breadcrumbs {
  display: flex;
  justify-content: flex-start;
  width: 100%;
  padding: 0;
  margin: 0;
}

.breadcrumbs-icon-home {
  display: block;
  width: 12px;
  margin-right: 10px;
}

.breadcrumbs-icon {
  display: block;
  width: 7px;
  padding: 5px 0;
  margin-right: 10px;
}

.breadcrumbs-link {
  display: block;
  color: #ffffff;
  text-decoration: none;
  font-size: 16px;
  line-height: 21px;
}

.catalog-hotel-choice {
  box-sizing: border-box;
  width: 1060px;
  margin: 0;
  padding: 0;
  margin-top: 9px;
}

.hotel-filter{
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}

.filter-place {
  box-sizing: border-box;
  width: 151px;
  margin: 0;
  margin-right: 70px;
  padding: 0;
  border: none;
}

.filter-place-title {
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  padding: 0;
  margin: 0;
  margin-bottom: 32px;
}

.control-input {
  font-size: 18px;
  line-height: 23px;
}

.filter-place-list {
  list-style-type: none;
  text-decoration: none;
  padding: 0;
  margin: 0;
  margin-left: auto;
}

.filter-place-item {
  margin-bottom: 16px;
}

.filter-place-item:last-child {
  margin: 0;
}

.filter-housing {
  box-sizing: border-box;
  width: 150px;
  margin: 0;
  margin-right: 138px;
  padding: 0;
  border: none;
}

.filter-hotel-price {
  box-sizing: border-box;
  width: 288px;
  border: none;
  padding: 0;
  margin: 0;
  margin-right: 70px;
}

.price-field {
  display: flex;
  justify-content: space-between;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.input-price {
  box-sizing: border-box;
  width: 141px;
  height: 48px;
  border: none;
  padding: 12px 20px;
  background: rgba(242, 242, 242, 1);
  font-family: inherit;
  font-weight: 700;
  font-size: 18px;
  line-height: 14px;
}

.input-price.min {
  border-radius: 4px 0 0 4px;
}

.input-price.max {
  border-radius: 0 4px 4px 0;
}

.range-slider {
  box-sizing: border-box;
  height: 20px;
  margin-top: 36px;
}

.hotel-price-buttons {
  box-sizing: border-box;
  padding-top: 56px;
}

.button {
  display: block;
  width: 191px;
  height: 36px;
  color: #ffffff;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  text-align: center;
  margin: 0;
  border: 0;
  border-radius: 4px;
  padding: 8px 50px;
}

.button.bt-go {
  margin-bottom: 32px;
}

.button.bt-fale {
  background-color: transparent;
}

.sorting {
  display: flex;
  box-sizing: border-box;
  width: 1060px;
  margin: 0 auto;
}

.sorting-total {
  width: 338px;
  height: 36px;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
  margin: 0;
  margin-right: 200px;
  padding: 6px 0;
}

.select-control {
  box-sizing: border-box;
  width: 292px;
  font-family: inherit;
  font-size: 18px;
  line-height: 21px;
  color: rgba(51, 51, 51, 1);
  border: 2px solid rgba(229, 229, 229, 1);
  padding-left: 20px;
  margin-right: 68px;
}

.wrapper-views {
  display: flex;
  justify-content: space-between;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  width: 160px;
}

.view-icon {
  box-sizing: border-box;
  width: 48px;
  padding: 0 16px;
  border: 2px solid rgba(229, 229, 229, 1);
  border-radius: 4px;
}

.view-icon.select {
  border: 2px solid rgba(0, 0, 0, 1);
}

.catalog-hotel-list {
  width: 100%;
  margin-top: 47px;
  margin-bottom: 40px;
}

.hotel-list {
  display: flex;
  box-sizing: border-box;
  flex-wrap: wrap;
  width: 1060px;
  list-style-type: none;
  margin: 0 auto;
  padding: 0;
  justify-content: space-between;
}

.hotel-card {
  display: block;
  box-sizing: border-box;
  width: 340px;
  height: 438px;
  margin: 0;
  margin-bottom: 20px;
  padding: 20px;
  border: 1px solid rgba(230, 230, 230, 1);
  border-radius: 4px;
}

.card-link {
  text-decoration: none;
}

.card-image {
  background-color: rgba(130, 179, 211, 1);
  background-size: cover;
  background-repeat: no-repeat;
  width: 300px;
  height: 212px;
}

.card-title {
  color: black;
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  margin: 16px 0;
}

.hotel-name-wrapper {
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 21px;
  margin-bottom: 16px;
}

.hotel-name {
  font-size: 18px;
  line-height: 21px;
  color: rgba(51, 51, 51, 1);
  width: 140px;
  padding: 0;
  margin: 0;
}

.hotel-name-card.hotel-name {
  width: 140px;
  text-align: right;
}

.hotel-card-wrapper {
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 36px;
  margin-bottom: 16px;
}

.hotel-card-button-for {
  background-color: rgba(117, 97, 87, 1);
  width: 140px;
  border-radius: 4px;
  padding-top: 8px;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  text-decoration: none;
  color: #ffffff;
  text-align: center;
}

.hotel-card-button-save {
  background-color: rgba(130, 179, 211, 1);
  width: 140px;
  border-radius: 4px;
  padding-top: 8px;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  text-decoration: none;
  color: #ffffff;
  text-align: center;
}

.rating-wrapper {
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 37px;
  margin: 0;
}

.rating-stars {
  background-color: rgba(242, 242, 242, 1);
  width: 140px;
  border-radius: 4px;

}

.rating-views {
  background-color: rgba(242, 242, 242, 1);
  width: 140px;
  border-radius: 4px;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  text-decoration: none;
  color: rgba(51, 51, 51, 1);
  text-align: center;
}

.rating-text {
  margin: 0;
  padding-top: 8px;

}

.saving-bt {
  background-color: rgba(125, 181, 79, 1);
}


.pagination-wrapper {
  box-sizing: border-box;
  width: 1060px;
  padding: 0;
  margin: 40px 70px 60px;
}

.pagination {
  display: flex;
  box-sizing: border-box;
  flex-wrap: wrap;
  justify-content: flex-start;
  width: 100%;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.pagination-item {
  background: rgba(130, 179, 211, 1);
  width: 60px;
  height: 60px;
  border-radius: 4px;
  margin: 0;
  padding: 0;
}

.pagination-link {
  display: block;
  color: #ffffff;
  font-weight: 700;
  font-size: 20px;
  line-height: 36px;
  text-decoration: none;
  text-align: center;
  padding-top: 11px;
  padding-left: 24px;
}

.pagination-current {
  background: rgba(242, 242, 242, 1);
  color: black;
}

.pagination-item {
  background-color: rgba(130, 179, 211, 1);
}

.pagination-ellipsis {
  background-color: #ffffff;
  color: black;
  font-weight: 400;
  font-size: 22px;
  line-height: 26px;
}



/* общий футер*/
