@font-face {
  font-family: "PT Sans";
  src: url(../fonts/ptsans-400.woff2) format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  src: url(../fonts/ptsans-700.woff2) format("woff2");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

html {
  height: 100%;
}

body {
  background-color: aquamarine;
}

.body-container {
  font-family: "PT Sans", sans-serif;
  font-weight: 400;
  font-style: normal;
  color: black;
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  min-height: 100%;
  width: 1200px;
  margin: 0 auto;
}

.visually-hidden {
  visibility: hidden;
  margin: 0;
  padding: 0;
}
/*общая навигация*/

.page-header {
  display: flex;
  box-sizing: border-box;
  width: 100%;
  height: 64px;
  margin: o;
  padding: 0;
}

.logo-nav {
  margin-top: 0;
  margin-left: 70px;
  margin-right: 28px;
  width: 140px;
}

.navigation {
  display: flex;
  width: 1200px
}

.navigation li {
  display: block;
}

.navigation a {
  display: block;
}

.navigation-list {
  display: flex;
  list-style-type: none;
  width: 100%;
  margin: 0;
  padding: 0;
}

.navigation-link {
  text-decoration: none;
  color: black;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
}

.navigation-item {
  text-align: center;
  padding-top: 20px;
}

.navigation-item.main {
  width: 100px;
}

.navigation-item.for-us {
  width: 114px;
}

.navigation-item.hotels {
  width: 125px;
}

.navigation-user {
  display: flex;
  width: 268px;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.navigation-item-user {
  width: 44px;
}

.navigation-join {
  box-sizing: border-box;
  background-color: #756157;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  text-decoration: none;
  text-align: center;
  color: #ffffff;
  width: 160px;
  height: 36px;
  border-radius: 4px;
  padding-top: 8px;
}

.navigation-item-user-join {
  width: 160px;
  height: 36px;
  padding: 0;
  padding-top: 14px;
  margin: 0;
  margin-right: 70px;
  margin-left: 20px;
}

/*общая навигация закончилась*/

/*index.html*/

.main-container {
  flex-grow: 1;
}
.main-img {
  background-color: #82B3D3;
  background-image: url(../images/index-background.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  height: 485px;
}

.slogan img {
  display: block;
  width: 458px;
  height: 352px;
  margin: 0 auto;
  margin-top: 52px;
}

.book-style img {
  display: block;
  margin: 0 auto;
  height: 57px;
  width: 100%;
}

.main-title {
  box-sizing: border-box;
}

.main-title h2 {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
  margin: 0;
  padding: 0;
}
.main-title p {
  font-weight: 400;
  font-size: 22px;
  line-height: 26px;
  margin: 0;
  padding: 0;
  padding-top: 20px;
}

.main-title.town {
  height: 261px;
  padding-top: 69px;
  padding-bottom: 69px;
  text-align: center;
}

.advantages {
  width: 100%;
}

.advantages-content {
  display: flex;
  box-sizing: border-box;
  flex-wrap: wrap;
  width: 100%;
  list-style-type: none;
  margin: 0 auto;
  padding: 0;
  justify-content: center;
}

.advantages-content h3 {
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  text-transform: uppercase;
  text-align: center;
}

.advantages-content p {
  font-size: 18px;
  line-height: 21px;
  text-align: center;
}

.advantages-content li {
  height: 385px;
}

.advantages-over {
  width: 230px;
  height: 160px;
  margin-left: 85px;
  margin-top: 112px;
}

.advantages-over.another {
  margin-top: 102px;
}

.advantages-img {
  display: block;
  background-color: #82B3D3;
  background-size: cover;
  width: 800px;
  height: 385px;
  margin: 0;
  padding: 0;
}

.advantages-1 {
  background-color: #82B3D3;
  width: 400px;
}

.another {
  color: #ffffff;
}

.advantages-2 {
  background: rgba(131, 179, 211, 0.12);
  width: 400px;
}

.advantages-3 {
  background: rgba(131, 179, 211, 0.2);
  width: 400px;
}

.advantages-4 {
  background: rgba(131, 179, 211, 0.12);
  width: 400px;
}

.advantages-5 {
  background-color: #82B3D3;
  width: 400px;
}

.main-title.welcome {
  height: 246px;
  padding-top: 64px;
  padding-bottom: 64px;
  text-align: center;
}

.service-list {
  display: flex;
  box-sizing: border-box;
  flex-wrap: wrap;
  width: 100%;
  list-style-type: none;
  margin: 0 auto;
  padding: 0;
  justify-content: center;
}

.service-info h3 {
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  text-transform: uppercase;
  text-align: center;
  margin: 0;
  margin-top: 30px;
  padding: 0;
}

.service-info p {
  font-size: 18px;
  line-height: 21px;
  text-align: center;
  margin: 0;
  margin-top: 30px;
  padding: 0;
}

.service-list li {
  width: 400px;
  height: 385px;
}

.service-info {
  box-sizing: border-box;
  width: 230px;
  height: 223px;
  margin: 0 auto;
  padding: 0;
  margin-top: 81px;
}

.service-info img {
  display: block;
  width: 75px;
  height: 72px;
  margin: 0 auto;

}

.service-1 {
  background-color: rgba(131, 179, 211, 0.12);
}

.service-3 {
  background-color: rgba(131, 179, 211, 0.12);
}

.main-title.choice {
  height: 406px;
  padding-top: 96px;
  padding-bottom: 96px;
  text-align: center;
}

.search-hotel {
  box-sizing: border-box;
  display: block;
  width: 376px;
  height: 52px;
  border-radius: 4px;
  background-color: #756157;
  font-weight: 700;
  font-size: 20px;
  line-height: 36px;
  text-transform: uppercase;
  text-decoration: none;
  text-align: center;
  color: #ffffff;
  margin: 0 auto;
  margin-top: 54px;
  padding-top: 8px;
}

.subscription {
  color: #ffffff;
  background-color: #82B3D3;
  background-size: cover;
  background-image: url(../images/subscribe.png);
  background-repeat: no-repeat;
  height: 415px;
}

.main-title.post {
  margin: 0 auto;
  margin-top: 96px;
  padding: 0;
  text-align: center;
}

.subscription-join {
  display: flex;
  box-sizing: border-box;
  width: 684px;
  height: 52px;
  margin: 0 auto;
  margin-top: 54px;
  padding: 0;
  border-radius: 0, 4px, 4px, 0;
}

.email {
  width: 452px;
  height: 52px;
  margin: 0;
  padding: 0;
  padding-left: 20px;
  border: 0;
  font-family: inherit;
  font-size: 18px;
  line-height: 14px;
}

.button {
  background-color: #82B3D3;
  width: 232px;
  border: 0;
  margin: 0;
  padding: 0;
}

.newsletter-button {
  font-weight: 700;
  font-size: 20px;
  line-height: 36px;
  text-transform: uppercase;
  text-align: center;
  color: #ffffff;
}

.subscription-catalog {
  height: 415px;
}

.email.second {
  background-color: rgba(242, 242, 242, 1);
}

/* начался общий футер*/

.sticky-footer {
  width: 100%;
  height: 120px;
}

.footer-wrapper {
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  width: 1060px;
  height: 50px;
  margin: 0 auto;
  margin-top: 40px;
  margin-left: 70px;
  background-color: tomato;
}

.contacts {
  display: flex;
  justify-content: space-evenly;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.network-link {
  box-sizing: border-box;
  width: 47px;
  height: 40px;
  margin: 0;
  padding: 0;
}

.network-link a {
  display: block;
  background-repeat: no-repeat;
  background-size: cover;
}

.vkontakte {
  background-image: url(../images/vk-icon.svg);
  width: 24px;
  height: 14px;
}

.telegram {
  background-image: url(../images/tg-icon.svg);
  width: 18px;
  height: 15px;
}

.youtube {
  background-image: url(../images/yt-icon.svg);
  width: 22px;
  height: 17px;
}

.phone {
  display: block;
  margin: 0 auto;
  font-size: 40px;
  line-height: 40px;
  text-align: center;
  text-decoration: none;
  color: black;
}

.logo-htmlacademy {
  display: block;
  margin: 0;
  margin-right: 70px;
  padding: 0;
  padding-top: 9px;
  width: 115px;
  height: 33px;

}

.logo-htmlacademy img {
  background-image: url(../images/HTML-Academy.png);
  background-repeat: no-repeat;
  background-size: cover;
  margin: 0 auto;
}
/*общий футер закончился*/



/*catalog.html*/

.main-inner{
  background-color: #82B3D3;
  background-image: url("../images/filter.png");
  background-size: cover;
  background-repeat: no-repeat;
  color: #ffffff;
  width: 100%;
  height: 412px;
}

.inner-header-title {
  color: #ffffff;
  font-size: 60px;
  line-height: 78px;
  padding: 0;
  padding-top: 35px;
  margin: 0;
  margin-left: 70px;
}

.breadcrumbs {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 114px;
  height: 21px;
  padding: 0;
  margin: 0;
  margin-left: 70px;
  margin-top: 8px;
}

.breadcrumbs-icon-home {
  display: block;
  width: 12px;
  height: 12px;
}

.breadcrumbs-icon {
  display: block;
  width: 7px;
  height: 10px;
  padding-top: 5px;
}

.breadcrumbs-link {
  color: #ffffff;
  text-decoration: none;
  font-size: 16px;
  line-height: 21px;
}

.catalog-hotel-choice {
  box-sizing: border-box;
  flex-wrap: wrap;
  width: 1060px;
  height: 160px;
  margin: 0;
  margin-left: 70px;
  margin-top: 16px;
  padding: 0;
}

.hotel-filter{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 1060px;
  height: 160px;
}

.filter-place {
  width: 150px;
  height: 157px;
  margin: 0;
  margin-right: 70px;
  padding: 0;
  border: none;
}

.filter-place-title {
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  padding: 0;
  margin: 0;
  margin-bottom: 32px;
}

.control-input {
  font-size: 18px;
  line-height: 23px;
}

.filter-place-list {
  list-style-type: none;
  text-decoration: none;
  margin: 0;
  padding: 0;
}

.filter-place-item {
  margin-bottom: 16px;
}

.filter-housing {
  box-sizing: border-box;
  width: 150px;
  height: 157px;
  margin: 0;
  padding: 0;
  border: none;
}

.filter-hotel-price {
  box-sizing: border-box;
  width: 288px;
  height: 160px;
  border: none;
  padding: 0;
  margin: 0;
  margin-left: 140px;
}

.price-field {
  display: flex;
  justify-content: space-between;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.input-price {
  width: 141px;
  height: 48px;
  background: rgba(242, 242, 242, 1);
  border: none;
  border-right: black;
  border-radius: 4px, 0, 0, 4px;
  font-family: inherit;
  font-weight: 700;
  font-size: 18px;
  line-height: 14px;
}

.range-slider {
  box-sizing: border-box;
  height: 20px;
  margin-top: 36px;
}

.hotel-price-buttons {
  display: block;
  box-sizing: border-box;
  width: 192px;
}

.button-go {
  width: 191px;
  height: 36px;
  background-color: rgba(130, 179, 211, 1);
  padding: 0;
  margin: 0;
  margin-top: 56px;
  border: 0;
  color: #ffffff;
  font-weight: 700;
  font-size: 16px;
  line-height: 20;
  text-transform: uppercase;
  text-align: center;
}

.button-fale {
  width: 191px;
  height: 36px;
  background-color: rgba(0, 0, 0, 0);
  padding: 0;
  margin: 0;
  margin-top: 32px;
  border: 0;
  color: #ffffff;
  font-weight: 700;
  font-size: 16px;
  line-height: 20;
  text-transform: uppercase;
  text-align: center;
}

.sorting-total {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
}

.select-control {
  font-size: 18px;
  line-height: 21px;
  color: rgba(51, 51, 51, 1);
}

.hotel-list {
  list-style-type: none;
}

.card-title {
  color: black;
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
}

.card-link {
  text-decoration: none;
}

.hotel-name {
  font-size: 18px;
  line-height: 21px;
}

.hotel-card-button-for {
  background-color: rgba(117, 97, 87, 1);
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  text-decoration: none;
  color: #ffffff;
  text-align: center;
}

.hotel-card-button-save {
  background-color: rgba(130, 179, 211, 1);
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  text-decoration: none;
  color: #ffffff;
  text-align: center;
}

.rating-views {
  background-color: rgba(242, 242, 242, 1);
}

.rating-views p {
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
}

.saving-bt {
  background-color: rgba(125, 181, 79, 1);
}

.pagination {
  list-style-type: none;
}

.pagination-link {
  color: #ffffff;
  font-weight: 700;
  font-size: 20px;
  line-height: 36px;
  text-decoration: none;
  text-align: center;
}

.pagination-current {
  background: rgba(242, 242, 242, 1);
  color: black;
}

.pagination-item {
  background-color: rgba(130, 179, 211, 1);
}

.pagination-ellipsis {
  background-color: #ffffff;
  color: black;
  font-weight: 400;
  font-size: 22px;
  line-height: 26px;
}



/* общий футер*/
